@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Recipes List";
}

<h2>My recipes list</h2>

<p>Hello from our View Template!</p>
